body{
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB",;
	background-color: #FFF;
	background-image:url(../image/bg2.jpg);
	margin: 0px;
	padding:0px;
	font-size:18px;
	word-wrap:break-word;
}
#top{
	top:0px;
	text-align:center;
	height: 40px;
//	background-color: rgb(240,240,240);
	background-image: url(../image/bg_top_light.png);
    font-weight:bolder;
}
#topMain {
	width: 720px;
	height: 40px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
    height:auto;
    background-color:rgb(253,253,253);
}
#Navigation {
	float: right;
	text-align: right;
	line-height: 14px;
	font-size: 14px;
	margin-top: 13px;
}
#Navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}



a{
text-decoration:none;
}

#Wrapper {
	border-top: 1px solid #5a607a;
	background-color: #b6bcd4;
	background-image: url(../image/bg.png);
}

#Bottom{
	background-color: #fff;

}
#BottomMain {
	margin: 0px auto 0px auto;
	width: 920px;
	padding: 20px 0px 20px 0px;
	font-size: 12px;
	color: #e2e2e2;
}
.sub_Butt {
	background-color: #30F;
	background-image: none;
	height: 2em;
	width: 4em;
}
.reset_Butt {
	background-color: #00F;
	height: 2em;
	width: 4em;
}
a.dark:link, a.dark:visited, a.dark:active {
	color: gray;
	text-decoration: none;
}

.sep3 {
	height: 3px;
}
.sep5 {
	height: 5px;
}
.sep10 {
	height: 10px;
}
.sep20 {
	height: 20px;
}
#main {
	width: 960px;
	margin: 0px auto 0px auto;
	padding: 12px 0px 30px 0px;
}

#sidebar {
	float: left;
	width: 0px;
	background-color: red;
}
#rightbar {
	float: right;
	width: 272px;
	padding: 10px 0px 10px 10px;
}
#content {
	margin: 0px 282px 0px 0px;
	padding: 10px;
}

.center{
	margin-left:auto;
    margin-right:auto;
}
.btn{
	background-image:url(../image/bg2.jpg)
}
.button{
	background-image:url(../image/bg2.jpg)
}
.title{
	font-size:20px;
}
.post_title{
	font-size:20px;
}
.title:hover{
	font-size:25px;
}
a{
	font-size:20px;
}
a:hover{
	font-size:22px;

}
.author{
	font-size:15px;
 //   margin-left:50px;
	background-color:rgb(230,230,230);
}
.bg_color{
	height:22px;
    background-color:rgb(213, 231, 233);	
}
pre{
	font-size:18px;
//	background-color:rgb(230,230,230);
}
ul{
	font-size:20px;
}
ul li{
	min-height:30px;
}

.heng  li {
	display:inline;
 //   min-height:35px;
}

.heng li a:hover
{
	//	
}

.heng {

    min-height:35px;
}
table, th{
	border: 1px solid rgb(213, 231, 233);	
}
.table_border{
	border: 2px solid blue;	
}

.table_border td{
	border: 1px solid blue;
    height:3px;
}

p.white 
{
	background-color:rgb(253,253,253);
}

